<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <title>《这个勇者明明超TUEEE却过度谨慎》キリキリ動画-更新至05集[谨慎勇者]下载-キリ放送S,キリキリμ,キリキリβ在线观看 - 水曜日[周三] - キリキリ動画</title>
    <meta name="keywords" content="《这个勇者明明超TUEEE却过度谨慎》高清下载,《这个勇者明明超TUEEE却过度谨慎》在线观看,《这个勇者明明超TUEEE却过度谨慎》ギリギリ動画" />
    <meta name="description" content="这个勇者明明超TUEEE却过度谨慎剧情:废柴女神莉丝塔要负责拯救超难模式的世界。虽然成功召唤出能力值高到犯规的勇者圣哉，没想到他却谨慎到超乎想像……「我要三副盔" />
    <meta name="Resource-type" content="キリキリ動画" />
    <script>var SitePath='/',SiteAid='16',SiteTid='153',SiteId='7478';</script>
    <script type="text/javascript">var Root='/';var Sid='1';var Cid='153';var Id='7478';</script>
    <link href="/hui/css/global.css" rel="stylesheet">
    <link href="/hui/css/common.css" rel="stylesheet">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jq/jquery.lazyload.js"></script>
    <script src="/js/jq/jquery.autocomplete.js"></script>
    <script type="text/javascript" src="/hui/js/home.js"></script>
    <script type="text/javascript" src="/hui/js/jquery.nicescroll.js"></script>
    <script type="text/javascript" src="/hui/js/common.js?v=20141220"></script>
    <!--[if IE 6]><script type="text/javascript" src="/template/hui/js/DD_belatedPNG.js"></script><![endif]-->

    <script>MAC.History.Insert("这个勇者明明超TUEEE却过度谨慎","/?m=vod-detail-id-7478.html","水曜日[周三]","/?m=vod-type-id--pg-1.html","upload/vod/2019-09-27/201909271569555889.jpg");</script>
    <SCRIPT type="text/javascript" src="/template/hui/js/webThunderDetect.js"></SCRIPT>
    <script type="text/javascript" src="/template/hui/js/thunderBatch.js"></script>
    <SCRIPT type="text/javascript" src="/template/hui/js/base64.js"></SCRIPT>
</head>
<body oncontextmenu="return false" onselectstart="return false">

<a id="top" name="top"></a>
<div id="header">
    <div class="wrap center">
        <a href="/" title="" class="logo fl pngFix"><img src="/template/hui/images/logo.png" alt="" class="pngFix" /></a>
        <div class="search_wrap fl">
            <form id="search_form" class="pngFix" action="/index.php?m=vod-search" method="post" target="_blank">
                <input id="wd" class="text fl" type="text" name="wd" value="">
                <input class="btn fl pngFix" type="submit" value="" title="kiri一下">
            </form>
            <p class="hot"><a href="/?m=vod-detail-id-7478.html" target="_blank">这个勇者明</a><a href="/?m=vod-detail-id-6699.html" target="_blank">RADIA</a><a href="/?m=vod-detail-id-7464.html" target="_blank">七大罪 诸</a><a href="/?m=vod-detail-id-7473.html" target="_blank">旗扬！兽道</a><a href="/?m=vod-detail-id-7465.html" target="_blank">篮球少年王</a><a href="/?m=vod-detail-id-7463.html" target="_blank">花牌情缘Ⅲ</a></p>
        </div>
        <div class="tool fr">
            <a id="history" href="javascript:void(0);" class="tool_ico history fl pngFix"></a>
            <a href="/index.php?m=gbook-show.html" title="点击这里给我们留言吧" target="_blank" class="tool_ico guestbook fl pngFix"></a>
            <a  href="/index.php?m=user-index.html" title="会员中心" class="tool_ico fav fl pngFix"></a>
        </div>
        <div class="clear"></div>
    </div>
    <div class="nav">
        <div class="wrap">
            <a href="/" >主站</a>

            <a href="/?m=vod-type-id-1.html" class="curr">新番放送</a>
            <a href="/?m=vod-type-id-2.html" >剧场动漫</a>
            <a href="/?m=vod-type-id-3.html" >番组计划</a>
            <a href="/?m=vod-type-id-4.html" >萌即正义</a>
            <a href="/?m=vod-type-id-36.html" >萝莉赛高</a>
            <a href="/?m=vod-type-id-43.html" >绝对领域</a>
            <a href="/?m=vod-type-id-95.html" >胜利荣光</a>
        </div>
    </div>
</div>
<div class="wrap center">
    <!--广告位--><div class="mt30"><script type="text/javascript" src="/template/hui/ads/top1000.js" charset="utf-8"></script></div>
</div>
<div class="wrap center">
    <div class="mt30">当前位置：<a href='/'>首页</a>&nbsp;&nbsp;&raquo;&nbsp;&nbsp;<a href='/?m=vod-type-id-153.html' >水曜日[周三]</a>&nbsp;&nbsp;&raquo;&nbsp;&nbsp;<a href='/?m=vod-detail-id-7478.html'>这个勇者明明超TUEEE却过度谨慎</a></div>
</div>
<div class="wrap center">
    <div class="img_wrap">
        <img alt="这个勇者明明超TUEEE却过度谨慎" data-original="/upload/vod/2019-09-27/201909271569555889.jpg" src="/template/hui/images/grey.png" class="lazy">
        <span class="note_adds">
            <em class="note_bg"></em>
            <em class="note_text">更新至05集[谨慎勇者]</em>
        </span>    </div>
    <div class="detail_wrap">
        <div class="title">
            <h1 class="fl">这个勇者明明超TUEEE却过度谨慎</h1>
            <span class="fr"><em>更新至05集[谨慎勇者]</em></span>
        </div>
        <ul><br>
            <li><span>评分：</span><script>MAC.Score.Show(0,"vod",7478);</script></li>
            <li class="wrap"><span>导演：</span><p><a target='_blank' href='/index.php?m=vod-search-directed-%E8%BF%AB%E4%BA%95%E6%94%BF%E8%A1%8C'>迫井政行</a>&nbsp;</p></li>
            <li><span>地区：</span><p><a target='_blank' href='/index.php?m=vod-search-area-%E6%97%A5%E6%9C%AC'>日本</a>&nbsp;</p></li>
            <li><span>语言：</span><p><a href="[vod:languagelink]" target="_blank">日语</a></p></li>
            <li><span>上映：</span><p><a target='_blank' href='/index.php?m=vod-search-year-2019'>2019</a>&nbsp;<span class="ctime">更新日期：2019-11-06 23:10:08</span></p></li>
            <li class="wrap"><span>主演：</span><p><a target='_blank' href='/index.php?m=vod-search-starring-%E6%A2%85%E5%8E%9F%E8%A3%95%E4%B8%80%E9%83%8E%EF%BC%8C%E4%B8%B0%E5%B4%8E%E7%88%B1%E7%94%9F%EF%BC%8C%E6%B2%B3%E8%A5%BF%E5%81%A5%E5%90%BE%EF%BC%8C%E5%8F%A4%E8%B4%BA%E8%91%B5%EF%BC%8C%E5%B1%B1%E6%9D%91%E5%93%8D'>梅原裕一郎，丰崎爱生，河西健吾，古贺葵，山村响</a>&nbsp;</p></li>
            <li class="wrap"><span>简介：</span><p class="content">废柴女神莉丝塔要负责拯救超难模式的世界。虽然成功召唤出能力值高到犯规的勇者圣哉，没想到他却谨慎到超乎想像……「我要三副盔甲。一副拿来穿，一副备用，还有一副是备用不见时的备用。」不仅囤积异常的库存，还自主训练到满等为止，谨慎到连打史莱姆都全力以赴！如此谨慎的勇者和被他耍得团团转的女神，即将展开冒险旅程！</p></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<div class="wrap center">
    <div class="playlist big_shadow mt30">
        <div class="big_shadow_top"></div>
        <div class="big_shadow_main">
            <div class="header"><h4 class="xigua pngFix">キリ放送S</h4><span>[手机兼容性比较好特别是IOS机]</span></div>
            <div class="clear"></div>
            <div class="mlist scroll"><a href="/?m=vod-play-id-7478-src-1-num-1.html" target="_blank">第01集</a><a href="/?m=vod-play-id-7478-src-1-num-2.html" target="_blank">第02集</a><a href="/?m=vod-play-id-7478-src-1-num-3.html" target="_blank">第03集</a><a href="/?m=vod-play-id-7478-src-1-num-4.html" target="_blank">第04集</a></div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="playlist big_shadow mt30">
        <div class="big_shadow_top"></div>
        <div class="big_shadow_main">
            <div class="header"><h4 class="xigua pngFix">キリキリμ</h4><span>[稳定播放源 有问题请尝试换源]</span></div>
            <div class="clear"></div>
            <div class="mlist scroll"><a href="/?m=vod-play-id-7478-src-2-num-1.html" target="_blank">第01集</a><a href="/?m=vod-play-id-7478-src-2-num-2.html" target="_blank">第02集</a><a href="/?m=vod-play-id-7478-src-2-num-3.html" target="_blank">第03集</a><a href="/?m=vod-play-id-7478-src-2-num-4.html" target="_blank">第04集</a><a href="/?m=vod-play-id-7478-src-2-num-5.html" target="_blank">第05集[待换日版]</a></div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="playlist big_shadow mt30">
        <div class="big_shadow_top"></div>
        <div class="big_shadow_main">
            <div class="header"><h4 class="xigua pngFix">キリキリβ</h4><span>[稳定播放源 有问题请尝试换源]</span></div>
            <div class="clear"></div>
            <div class="mlist scroll"><a href="/?m=vod-play-id-7478-src-3-num-1.html" target="_blank">第01集</a><a href="/?m=vod-play-id-7478-src-3-num-2.html" target="_blank">第02集</a><a href="/?m=vod-play-id-7478-src-3-num-3.html" target="_blank">第03集</a><a href="/?m=vod-play-id-7478-src-3-num-4.html" target="_blank">第04集</a><a href="/?m=vod-play-id-7478-src-3-num-5.html" target="_blank">第05集[待换日版]</a></div>
            <div class="clear"></div>
        </div>
    </div></div>
<div class="wrap center">
    <div class="vod_wrap_title">
        <h1 class="pngFix">相关推荐</h1>
    </div>
    <div class="clear"></div>
    <ul class="v_list">
        <li >
            <a href="/?m=vod-detail-id-6908.html" title="齐木楠雄的灾难" target="_blank">
                <img alt="齐木楠雄的灾难" data-original="/upload/vod/2018-12-02/201812021543726294.jpg" src="/template/hui/images/grey.png" class="lazy">
                <span class="note_adds">
					<em class="note_bg"></em>
					<em class="note_text">720P[BD]</em>
				</span>                <span class="name">齐木楠雄的灾难</span>
            </a>
            <p>讲述生来就有超能力的主人公高中生齐木楠雄，每天都面临着各种灾难的日常.</p>
        </li>
        <li >
            <a href="/?m=vod-detail-id-6851.html" title="犬屋敷" target="_blank">
                <img alt="犬屋敷" data-original="/upload/vod/2018-11-29/201811291543492800.jpg" src="/template/hui/images/grey.png" class="lazy">
                <span class="note_adds">
					<em class="note_bg"></em>
					<em class="note_text">720P[BD]</em>
				</span>                <span class="name">犬屋敷</span>
            </a>
            <p>故事讲述了平凡无奇、将近60岁的普通上班族‧犬屋敷， 在家里不受家人尊敬，也找不到自己活著的目标， 还被医生宣告将不久於人世。失意的他，却在公园与另一名少年被突如其来的外星生物砸到，整个身体都被摧毁了。不明的外星生物为了不影响地球的秩序，让犬屋敷和少年重生── 他们变成只有外表是人、身体却由机械所构成，拥有卓绝战斗能力的超强「人类」。两名尚拥有自己意志的「机械人类」会用这个力量作出什麼行动呢？ 又会对世界带来什麼影响呢？</p>
        </li>
        <li >
            <a href="/?m=vod-detail-id-6957.html" title="死神" target="_blank">
                <img alt="死神" data-original="/upload/vod/2018-12-03/201812031543824189.jpg" src="/template/hui/images/grey.png" class="lazy">
                <span class="note_adds">
					<em class="note_bg"></em>
					<em class="note_text">720P[BD]</em>
				</span>                <span class="name">死神</span>
            </a>
            <p>一天，黑崎一护的同班同学、唯一幸存的灭却师石田雨龙（吉泽亮）找到了黑崎一护，他十分仇恨死神，于是和黑崎一护展开了战斗。与此同时，大量虚出现在了一护所在空座町，一护和雨龙开始并肩驱除虚。神秘店长浦原喜助（田边诚一饰）预感到了虚的出现，同时，黑崎一护的同学井上织姬（真野惠里菜饰）和茶渡泰虎（小柳友饰）也拥有了特殊力量。杀害黑崎一护母亲的极恶大虚“Grand Fisher”出现在了一护和露琪亚面前，两人正准备战斗时，死神阿散井恋次（早乙女太一饰）和朽木白哉（石原贵雅饰）为了逮捕露琪亚而出现</p>
        </li>
        <li >
            <a href="/?m=vod-detail-id-6910.html" title="银魂2 世界奇妙银魂物语" target="_blank">
                <img alt="银魂2 世界奇妙银魂物语" data-original="/upload/vod/2018-12-02/201812021543727439.jpg" src="/template/hui/images/grey.png" class="lazy">
                <span class="note_adds">
					<em class="note_bg"></em>
					<em class="note_text">720P[BD]</em>
				</span>                <span class="name">银魂2 世界奇妙银魂物语</span>
            </a>
            <p>传说中的篇章，禁断的真人化！取自银魂原作中「神乐失眠篇」、「土方戒菸篇」、「牙医篇」，且恶搞了知名经典动漫大作《七龙珠》、《银河铁道999》。</p>
        </li>
        <li class="r">
            <a href="/?m=vod-detail-id-7074.html" title="东京喰种" target="_blank">
                <img alt="东京喰种" data-original="/upload/vod/2019-02-08/201902081549600592.jpg" src="/template/hui/images/grey.png" class="lazy">
                <span class="note_adds">
					<em class="note_bg"></em>
					<em class="note_text">720P[BD]</em>
				</span>                <span class="name">东京喰种</span>
            </a>
            <p>性格内向只知道一门心思读书的大学生金木研（洼田正孝 饰），与偶然邂逅的美丽女孩神代利世（苍井优 饰）兴趣相投。谁知一段时间交往过后，利世竟露出可怕的面容，意图生吃掉金木。原来利世是一种名叫“喰种”的变异人种，他们将人类作为唯一食物。关键时刻，利世死于意外，而重伤的金木则被移植了来自利世的部分器官，却由此也变成了“喰种”的一员。康复后的金木再也无法摄入人类的食物，饱受饥饿困扰之际，他被在咖啡馆工作的董香（清水富美加 饰）介绍栖身于“喰种”群集的安全区。与此同时，CCG上等搜查官真户吴绪（大泉洋 饰）和部下全力追查“喰种”的行踪。人类和食尸鬼的战争一触即发……&nbsp;</p>
        </li></ul>
    <div class="clear"></div>
</div>
<div class="wrap center">
    <div class="cmt_msg big_shadow mt20">
        <div class="big_shadow_top"></div>
        <div class="big_shadow_main">
            <div class="header">
                <h4 class="cmt_title pngFix">我来说两句</h4>
            </div>
            <div class="clear"></div>
            <div class="Comment" id="comment"><div style="margin:10px 25px;"><div id="comment" class="comment">
                <section class="comment sec" id="cmt_anchor">
                    <form class="cmt_form clearfix" action="/index.php?m=comment-save" method="post">
                        <div class="input_wrap">
                            <input type="hidden" id="c_rid" name="c_rid" value="">
                            <textarea id="c_content" name="c_content"  onKeyup="MAC.Remaining(this,200,'c_remaining')" onfocus="if(this.value=='大家喜爱的二次元动漫小站，绮罗星kiri喵。'){this.value='';}" onblur="if(this.value==''){this.value='请在这里发表您的个人看法，最多200个字。';};"	>请在这里发表您的个人看法，最多200个字。</textarea>
                            <p class="fl">
                                <span class="remain fr" id="c_remaining">还可以输入<em>200</em>个字</span>
                            </p>
                        </div>
                        <div class="clear"></div>
                        <p class="smt_wrap">
                            <span class="total fl">共<em id="item_count">2</em>条评论信息</span>
                            <input class="fr" type="button" value="发布" onclick="MAC.Comment.Post();">
                            <span class="verify_box fr">
		<span class="fl">验证码：</span>
		<input class="verify_text fl" id="c_name" name="c_name" type="hidden" value="游客" maxlength="4">
		<input id="c_code" name="c_code" type="text" class="verify_text fl" maxlength="4">
		<span id="gb_vcode_html" class="fl"><img id="c_code_img" class="cmt_verify" src="/inc/common/code.php?a=comment&s=" title="看不清楚? 换一张！" onClick="src='/inc/common/code.php?a=comment&s='+Math.random()"/></span>
	</span>	<span id="comment_tips" class="fr"></span>
                        </p>
                    </form>
                    <div class="clear"></div>
                    <div class="cmt_wrap">

                        <div class="cmt_item">
                            <div class="item_con">
                                <p class="top">
                                    <span class="fr">2019-11-04</span>
                                    <span class="name">游客</span>
                                    (第1楼)
                                </p>
                                <p class="con">魔人凯布利斯发家史</p>
                            </div>
                        </div>
                        <div class="cmt_item">
                            <div class="item_con">
                                <p class="top">
                                    <span class="fr">2019-10-03</span>
                                    <span class="name">游客</span>
                                    (第2楼)
                                </p>
                                <p class="con">新一代沙雕女神</p>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </section>
            </div></div></div>
        </div>
    </div>
</div>
<div class="wrap center">
    <!--广告位--><div class="mt30"><script type="text/javascript" src="/template/hui/ads/top1000.js" charset="utf-8"></script></div>
</div>

<div id="footer">
    <p>本站已经倒闭 </p>
</div>
</body>
</html>